* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    margin: 0 auto;
    width: 60vw;
}

.d-flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.img-span-wrapper {
    display: flex;
}

.img-span-wrapper  span {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-transform: uppercase;
}

.img-wrapper img {
    width: 100%;
}

.top {
    margin-top: 2vw;
}

.top div {
    width: 50%;
}

h1 {
    font-size: 2.6vw;
}

h3 {
    font-size: 1.5vw;
}

p {
  font-size: 1vw;
}

.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.person {
  width: 27%;
  display: flex;
  flex-direction: column;
}

.img-wrapper {
  width: 12vw;
}

span {
    font-size: 1vw;
}

.person .name {
    font-weight: bold;
}
.person {
    margin-top: 2vw;
}

.p2.person, .p5.person {
    margin-top: 5vw;
}

.credit {
    margin-top: 5vw;
    text-align: center;
    color: gray;
}

@media only screen and (max-width: 1000px) {
    .container {
      width: 90vw;
    }

    .header-wrapper {
      margin-bottom: 5vw;
    }

    h1 {
      font-size: 6vw;
    }

    .who-we-are h3 {
      font-size: 4vw;
      margin-bottom: 2vw;
    }

    .who-we-are p {
      font-size: 3vw;
    }

    .p2.person {
      margin-top: 15vw;
    }

    .top {
      flex-direction: column;
    }

    .gallery {
      margin-top: 10vw;
    }

    .person {
      margin-top: 20vw 0!important;
      width: 45%;
    }

    .person.p2, .person.p4, .person.p6 {
      margin-top: 15vw;
    }

    .img-wrapper {
      width: 45vw;
    }

    .img-span-wrapper span {
      font-size: 2.5vw;
    }

    .name {
      font-size: 2.5vw;
    }

    .top div {
      width: 100%;
    }

    .credit {
      margin-top: 10vw;
    }
}